тексты/
output/
.checkpoints*/
topic_modelling_results/
absa_score_metrics.csv
pipeline_description.txt
llm_output_data_schema.txt
nomination_counts_from_raw_text.txt

.DS_Store
.qodo
__pycache__/
.cursor/
.env
.conda/
.ipynb_checkpoints/
*.log
*.pid
*.doc
*.docx
*.rtf
*.jsonl
*.npy
*.npz
